# Python Assignment: Data Structures, Functions, Numpy & Pandas

## section A: Data Structures & Control Structures

### 1. Create a list of 5 integers. Perform and print the result of the following operations: append, extend, insert, remove, pop, clear, index, count, sort, and reverse.

In [1]:
# Create a list
l1 = [34, 46, 88, 90, 94]
print("Original list:", l1)

Original list: [34, 46, 88, 90, 94]

In [2]:
#append
l1.append (98) # Adds an element to the end of the list
print ("After append",l1)

After append [34, 46, 88, 90, 94, 98]

In [3]:
#extend
l1.extend([87,97]) #Adds multiple elements from an iterable to the end of the list.
print(  "After extend",l1)

After extend [34, 46, 88, 90, 94, 98, 87, 97]

In [4]:
#insert
l1.insert(2,95) #insert an element at a specified index.
print("After insert",l1)

After insert [34, 46, 95, 88, 90, 94, 98, 87, 97]

In [5]:
#remove
l1.remove(94) #remove the first occurrence of an element
print("After remove",l1)

After remove [34, 46, 95, 88, 90, 98, 87, 97]

In [6]:
# pop() - Removes element by index (default last element)
popped_value = l1.pop()
print("After pop():", l1)
print("Popped Value:", popped_value)

After pop(): [34, 46, 95, 88, 90, 98, 87]
Popped Value: 97

In [7]:
# index() - Returns index of a given element
index_of_88 = l1.index(88)
print("Index of 88:", index_of_88)

Index of 88: 3

In [8]:
# count() - Counts how many times a value appears
count_46 = l1.count(46)
print("Count of 20:", count_46)

Count of 20: 1

In [9]:
# sort() - Sorts the list
l1.sort()
print("After sort():", l1)

After sort(): [34, 46, 87, 88, 90, 95, 98]

In [10]:
#revers() - reverses the list in place 
l1.reverse()
print("After revers",l1)

After revers [98, 95, 90, 88, 87, 46, 34]

In [10]:
# clear() - Removes all elements
l1.clear()
print("After clear():", l1)

After clear(): []

 ### 2.	Create a tuple that stores 3 student names. Try changing the second name in the tuple. What happens? Explain why.

#### 2. Tuple Example and Explanation
 Create a tuple with 3 student names

In [11]:
Tuples = ("Abhi", "Nikita", "Nitya")
print(Tuples)

('Abhi', 'Nikita', 'Nitya')

#### Try changing the second name

In [12]:
Tuples[1]="sagar"

TypeError: 'tuple' object does not support item assignment

#### What happens?

You will get an error like this:

#### Why does this happen?

Because tuples are immutable in Python.

 Immutable means:
 You cannot change, update, or delete individual elements after the tuple is created.

### 3.	Create a set of integers with some duplicate values. Print the set and explain the output.

In [13]:
#Create a set of integers with some duplicate values
set={1,2,3,2,5,3,6,5,8,7,9,7,8}
print(set)

{1, 2, 3, 5, 6, 7, 8, 9}

1. A set in python cannot store duplicate values
2. so if you add duplicate number ,python automatically removes them
3. That's why the output contains each number only once

### 4.	Create a dictionary with the keys: 'name', 'age', and 'city'. Update the age and add a new key 'email'. Print the final dictionary.

In [14]:
# Create dictionary
dict={
    'name': 'nikita',
    'age' : '20',
    'city' : 'bengular'
}

In [15]:
dict

{'name': 'nikita', 'age': '20', 'city': 'bengular'}

In [16]:
# Update the age

dict['age'] = 21

In [17]:
# Add the new key email

dict['email'] = 'nikita@gmail.com'

In [18]:
# print the final dictionary

print(dict)

{'name': 'nikita', 'age': 21, 'city': 'bengular', 'email': 'nikita@gmail.com'}

#### Explanation:

We created a dictionary with 3 keys.

dictionary['age'] = 21 → updates the value of the existing key.

dictionary['email'] = ... → adds a new key-value pair.

Finally, we print the updated dictionary.

### 5.	 Write a script that checks if a person is eligible to vote (age ≥ 18). Take age as a variable and print the appropriate message.

In [19]:
# Voting eligible check

age = int(input("Enter the age"))

Enter the age 15

In [20]:
if age>=18:
  print("You are eligible to vote")
else:
  print("You are not eligible to vote")

You are not eligible to vote

#### Explanation:

age = int(input(...)) → Takes age as input from user.

if age >= 18 → Checks if age is 18 or more.

If true → prints eligible

Else → prints not eligible

### 6.	Given a 'marks' variable, print the grade:
- 90 and above: 'A'
- 75–89: 'B'
- 50–74: 'C'
- Below 50: 'Fail'

In [21]:
marks =int(input("Enter the markas"))

Enter the markas 90

In [24]:
if marks>=90:
  print("Grade,A")
elif marks>=89:
  print("Grade,B")
elif marks>=74:
  print("Grade,C")
else:
  print("Grade,Fail")

Grade,Fail

 #### How it works


If marks are 90 or above, it prints A


If marks are 75 to 89, it prints B


If marks are 50 to 74, it prints C


If marks are below 50, it print fail

### 7.	Given a number, check if it's positive, and if it is also even. If not positive, print if it's zero or negative.

In [ ]:
num = int(input("Entyer the number:"))

In [ ]:
if num > 0:
    if num % 2 == 0:
        print("The number is positive and even.")
    else:
        print("The number is positive but not even.")
elif num == 0:
    print("The number is zero.")
else:
    print("The number is negative.")

#### Explanation


num > 0 → Number is positive


Inside it, num % 2 == 0 checks if it's even.




num == 0 → Number is zero


else → Number is negative

# Section B: Numpy

### 8.	Create:
- A scalar using np.array(5)
- A 1D array with values 1 to 5
- A 2D array (2x3) with values from 10 to 60 in steps of 10

#### A scalar using np.array(5)

In [ ]:
import numpy as np
scalar = np.array(5)
print(scalar)
print(scalar)

 #### A 1D array with values 1 to 5

In [ ]:
arr_1d = np.array([1,2,3,4,5])
print(arr_1d)

A 2D array (2x3) with values from 10 to 60 in steps of 10

In [ ]:
arr_2d = np.array([[10, 20, 30],
                   [40, 50, 60]])
print(arr_2d)

### 9.	Generate a 4x4 Numpy array of random integers between 0 and 100 using np.random.randint().

In [ ]:
rand_arr = np.random.randint(0, 100, size=(4, 4))
print(rand_arr)

### 10.	Create a 2D numpy array of shape (3x3). Convert it into a pandas DataFrame and add column names: 'A', 'B', 'C'.

In [ ]:
import numpy as np
import pandas as pd

# Create 2D numpy array
arr = np.array([[1, 2, 3],
                [4, 5, 6],
                [7, 8, 9]])
print(arr)

In [ ]:
# Convert to DataFrame with column names
df = pd.DataFrame(arr, columns=['A', 'B', 'C'])
print(df)

# Section C: Exploring Pandas

### 11.	Create a small DataFrame manually with 10 rows and columns: 'Name', 'Age', 'City', and 'Salary'. Then:
- Use .info(), .describe()
- Select 'Name' and 'City' columns
- Drop 'City' column
- Fill any missing values in 'Salary' column with the mean
- Remove any duplicate rows

In [ ]:
# Creating the DataFrame with 10 rows
import pandas as pd
import numpy as np

data = {
    "Name": ["Nikita","Nitya","Abhi","Keerti","Ankita","Laxmi","Shweta","Nikhil","Avi","sagar"],
    "Age": [20,6,22,21,19,18,17,30,28,18],
    "City": ["chitta","mubai","Abulga","Basavakalyan","Bengular","pune","Musirabad","Nilanga","Gulbarga","Pune"],
    "Salary":[50000,40000,30000,np.nan,30000,80000,10000,5000,np.nan,7000]
}
df=pd.DataFrame(data)
print(df)

In [ ]:
# Use .info()
df.info()

In [ ]:
#Use.describe()
df.describe()

In [ ]:
#Select 'Name' and 'City' columns
df[['Name','City']]

In [ ]:
#Drop 'City' column
df.drop('City', axis=1)

In [ ]:
#Fill missing values in 'Salary' column with the mean

df['Salary'].mean()

In [ ]:
df['Salary'].mean()
df['Salary'].fillna(df['Salary'].mean())

In [ ]:
 #Remove duplicate rows
df = df.drop_duplicates()

In [ ]:
df